.field-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.field-label {
  composes: input-field from "assets/styles/form.module.css";
  font-weight: 600;
  margin-top: 12.8px;
  margin-bottom: 12.8px;
}

.field-value {
  composes: input-field from "assets/styles/form.module.css";
}
