@value variables: "assets/styles/values.module.css";
@value fontsize from variables;

.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: fontsize;
}
