@value variables: "./values.module.css";
@value fontsize from variables;

.element {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: 2rem !important;
}

.input-field {
  font-size: fontsize;
  line-height: normal;
  color: #4a494a;
}
